div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.score{
    text-size: 28px;
    font-weight: lighter;
    
}
.close{
    text-size: 12px;
    padding-top: 18px;
    font-weight: bold;

}
