div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.score{
    text-size: 3xl;
    font-weight: bold;
    
}
.close{
    text-size: 12px;
    padding-top: 18px;
    font-weight: lighter;

}
