.App {
  background-color: #c2571a;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  box-shadow: round;
  padding: 30px;
  width: 40rem;
  overflow: auto;
  max-width: 100%;
  min-width: 601px
 
}
button {
  cursor: pointer;
  background-color: white;
  color: #c2571a;
  border: none;
  padding: 5px;
  border-radius: 7px;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
}
/* Styles for devices with a maximum width of 600px */
@media (max-width: 600px) {
  /* CSS rules specific to smaller devices */
  body {
    font-size: 14px;
  }
}

/* Styles for devices with a minimum width of 601px */
@media (min-width: 601px) {
  /* CSS rules specific to larger devices */
  body {
    font-size: 16px;
  }
}



