.App {
  background-color: #c2571a;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  box-shadow: round;
  padding: 30px;
  width: 60rem;
 
}
button {
  cursor: pointer;
  background-color: white;
  color: #c2571a;
  border: none;
  padding: 5px;
  border-radius: 7px;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
}
.close{
    text-size: 12px;
    padding-top: 18px;
    font-weight: lighter;
    display: grid;

}


